<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task-list</title>
</head>
<body>
    <h1>Welcome,{{user.username}}!</h1>
    <a href="{% url 'task_create'%}">add a new task</a>
    <a href="{% url 'logout'%}">logout</a>

<h3> your task for today</h3>
<ul>
       {%for task in tasks %}
    <li>
        {{ task.title }}  {% if task.completed%}completed {% endif %}
        <a href="{% url 'task_delete'%}">delete task</a>
    </li>
    
        {%empty%}
    <li>no task yet</li>
        {% endfor %}
</ul>
</body>
</html>